@import 'antd/dist/reset.css'; 
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .box-shadow-yellow{
        filter: drop-shadow(0 5px 3px #e7db2acc);
        /* text-shadow: -2px 5px 5px #a70707;*/
        /*color: rgb(153, 26, 26);*/
    }
    body
    {
        background: #ffefef;
    }

    .title-shadow{
        text-shadow: -1px 2px 5px #6d6c6c;
    }

}

@layer components {
    .active-input:focus{
         @apply  border-blue-500 outline-none;
    }
}
